@media only screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    margin-top: 30px;
  }
  .wrapper1 {
    width: 60%;
    padding: 80px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .wrapper2 {
    width: 80%;
    margin-left: 40px;
  }
  .nav {
    background-color: rgba(23, 83, 172, 0.966);
    background-image: none;
  }
}
